<html>
    <head>
        <title>Choose Preference</title>
    </head>
    <script>
        function dupli(){
            var room1 = document.getElementById('room1').value;
            var room2 = document.getElementById('room2').value;
            var room3 = document.getElementById('room3').value;
            if (room1 == room2 || room1 == room3 || room2 == room3){
                alert("Please give unique choices!");
            }
            if (room1 == "" || room2 == "" || room3 == ""){
                alert("Preferences can't be left blank");
            }
        }
    </script>
    <body>
        <form method="POST" action=".">
            {% csrf_token %}
            <p>Choice 1 </p>
            <br>
            <!-- use name tag for mapping POST fields -->
            <select id="room1" name="room1">
                <option value="">Select Room 1</option>
                {% for room in rooms %}
                <option value={{room.num}}>{{room.num}}</option>
                {% endfor %}
            </select>


            <p>Choice 2 </p>

            <select id="room2" name="room2">
                <option value="">Select Room 2</option>
                {% for room in rooms %}
                <option value={{room.num}}>{{room.num}}</option>
                {% endfor %}
            </select>

            <p>Choice 3 </p>

            <select id="room3" name="room3">
                <option value="">Select Room 3</option>
                {% for room in rooms %}
                <option value={{room.num}}>{{room.num}}</option>
                {% endfor %}
            </select>
        <input type="submit" value="Submit" onclick="dupli()">
        </form>
    </body>
</html>